<!DOCTYPE html>
<html lang="ru-RU">
	{% set title = 'TWIG шаблон' %}
	{% set description = '#' %}
	{% set keywords = '#' %}

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		<meta name="format-detection" content="telephone=no">
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ keywords }}">
		<%= htmlWebpackPlugin.tags.headTags %>
	</head>

	<body>
		<div class="wrapper">
			<header class="main-header"></header>
			<div class="main-wrapper">
				<main class="main-content">
					{% set images = "${require('@/img/sass-logo.png')}" %}

					{# <section class="section text-center" style="background-image: url('{{ images }}')"> #}
					<section class="section text-center">
						<h1 class="section__title">{{ title }}</h1>
						<img src="~@/img/webpack-logo.svg" alt="logo" class="section__img section__img_big">

						<div id="react-app"></div>
					</section>

				</main>
			</div>
			<footer class="main-footer"></footer>
		</div>
	</body>

</html>
