extends ../layout

//- Variables
block variables
	- var title = 'PUG шаблон';
	- var images = "~@/img/pug-logo.png";
	- var img = "~@/img/pug-logo.png, ~@/img/pug-logo@2x.png 2x";

block start-body
	.preloader#preloader
		progress(max="100" value="0")

block content
	main.main-content
		//- section.b-section.text-center(style="background-image: url('~@/img/pug-logo.png')")
		section.b-section.text-center
			h1.__title= title
			.b-scroller
				.__list
					.__item
					.__item
					.__item
					.__item
					.__item
					.__item
					.__item
					.__item
					.__item
					.__item
			picture.__img._medium
				source(srcset="~@/img/pug-logo.webp" type="image/webp")
				img(src=images
					srcset=img
					alt="logo")
			br
			img(src="~@/img/sass-logo.png"
				srcset="~@/img/sass-logo.png, ~@/img/sass-logo@2x.png 2x"
				alt="logo").__img._small
			#vue-app
